<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css?v1" />
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<link rel="stylesheet" href="__STATIC__/assets/css/app.css?v3">
<style>
    .am-tabs-nav li {
        position: relative;
        z-index: 1;
    }

    .am-tabs-nav .am-icon-close {
        position: absolute;
        top: 0;
        right: 10px;
        color: #888;
        cursor: pointer;
        z-index: 100;
    }

    .am-tabs-nav .am-icon-close:hover {
        color: #333;
    }

    .am-tabs-nav .am-icon-close ~ a {
        padding-right: 25px!important;
    }
    iframe>body {
        background: none;
    }
</style>