<div class="tpl-left-nav tpl-left-nav-hover">
    <div class="tpl-left-nav-title">
        智慧物业 列表
    </div>
    <div class="tpl-left-nav-list">
        <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <a href="index" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-th-large"></i>
                    <span>首页</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>权限管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/rule_list')}">规则列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/user_group_list')}">用户组列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/admin_list')}">管理员列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>工单处理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/complain_list')}">投诉列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/praise_list')}">表扬列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/repair_list')}">报修列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>建议资讯</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>

                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/proposal_list')}">建议列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>

                    </li>
                    <li>

                        <a href="javascript:" class="active">
                            <i class="am-icon-angle-right"></i>
                            <span class="js-append-tab" data_id="{:url('User/consult_list')}">资询列表</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>

                    </li>
                </ul>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-cny" style="padding: 0 4px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/project_list')}">收费管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-university"></i>
                    <span class="js-append-tab" data_id="{:url('User/expense_list')}">资金管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-home" style="padding: 0 1px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/house_list')}">房产管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-user" style="padding: 0 2px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/member_list')}">业主管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-newspaper-o"></i>
                    <span class="js-append-tab" data_id="{:url('User/announce_list')}">公告管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-phone" style="padding: 0 3px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/telephone_list')}">电话管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-picture-o"></i>
                    <span class="js-append-tab" data_id="{:url('User/banner_image_list')}">banner图管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-commenting-o" style="padding: 0 1px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/message_list')}">消息管理</span>
                </a>
            </li>

            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-at" style="padding: 0 2px;"></i>
                    <span class="js-append-tab" data_id="{:url('User/suggest_list')}">关于我们</span>
                </a>
            </li>

        </ul>
    </div>
</div>
