{include file="public/css"}



<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span>规则列表
        </div>

    </div>
    <div class="tpl-block">
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="{:url('User/rule_add')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>

                        <button id="rule_delete_all" type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-form-group">
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field">
                    <span class="am-input-group-btn">
                            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox" id="rule_check_all" class="tpl-table-fz-check"></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">规则英文名称</th>
                            <th class="table-author am-hide-sm-only">规则中文名称</th>
                            <th class="table-type">状态</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach item="info" name="list.data"}
                        <tr>
                            <td><input type="checkbox" class="check_ids" value="{$info.Id}"></td>
                            <td>{$info.Id}</td>
                            <td><a href="#">{$info.name}</a></td>
                            <td><a href="#">{$info.title}</a></td>
                            <td class="am-hide-sm-only">{if condition='$info.status eq 1'}<a href="">启用</a>{else}<span style="color: #9eacb4">禁用</span>{/if}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a href="{:url('User/rule_update',['id'=>$info['Id']])}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>

                                        <a href="{:url('User/rule_delete',['id'=>$info['Id']])}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div class="am-cf">
                        <div class="am-fr">
                            {$page}
                        </div>
                    </div>
                    <hr>

                </form>
            </div>

        </div>
    </div>

</div>


{include file="public/footer"}
<script type="text/javascript">
    $('#rule_check_all').click(function(){
        if($(this).is(':checked')){
            $('.check_ids').prop('checked',true);
        }else{
            $('.check_ids').prop('checked',false);
        }
    });
    $('#rule_delete_all').click(function(){
        var rule_id = '';
        $('.check_ids').each(function(){
            if($(this).is(':checked')){
                rule_id += $(this).val()+',';
            }
       });
        rule_id = rule_id.substr(0,rule_id.length-1);
        window.location.href="rule_delete/id/"+rule_id;
    });
</script>
