{include file="public/css"}

<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            规则添加
        </div>
        <div class="tpl-portlet-input tpl-fz-ml">
            <div class="portlet-input input-small input-inline">
                <div class="input-icon right">
                    <i class="am-icon-search"></i>
                    <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
            </div>
        </div>


    </div>
    <div class="tpl-block ">

        <div class="am-g tpl-amazeui-form">


            <div class="am-u-sm-12 am-u-md-9">
                <form action="{:url('User/do_rule_add')}" method="post" class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="rule_name_en" class="am-u-sm-3 am-form-label">规则英文名称</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="name" id="rule_name_en" placeholder="姓名 / Name">
                            <small id="Eng_msg">输入规则英文名称</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="rule_name_zh" class="am-u-sm-3 am-form-label">规则中文名称</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="title" id="rule_name_zh" placeholder="姓名 / Name">
                            <small id="Zh_msg">输入规则中文名称</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label class="am-u-sm-3 am-form-label">状态 / Status</label>
                        <div class="am-u-sm-9">
                            <input type="radio" name="status" value="1" checked><small>启用</small>
                            <input type="radio" name="status" value="0"><small>禁用</small>

                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="submit" id="save" disabled class="am-btn am-btn-primary">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




{include file="public/footer"}
<script type="text/javascript">
    var en_flag = false;
    var zh_flag = false;
    $('#rule_name_en').blur(function(){
        var En_name = $(this).val();
        if(En_name==''){
            $('#save').attr('disabled',false);
        }
        $.ajax({
            url:"{:url('User/check_name_en')}",
            type:"post",
            data:{names:En_name},
            success:function(data){
                $('#Eng_msg').html(data.msg);
                if(data.status){
                    $('#Eng_msg').css('color','red');
                    en_flag = false;
                }else{
                    $('#Eng_msg').css('color','green');
                    en_flag = true;
                }
                if(zh_flag&&en_flag){
                    $('#save').attr('disabled',false);
                }else{
                    $('#save').attr('disabled',true);
                }
            }
        });
    });
    $('#rule_name_zh').blur(function(){
        var Zh_name = $(this).val();
        if(Zh_name==''){
            $('#save').attr('disabled',false);
        }
        $.ajax({
            url:"{:url('User/check_name_zh')}",
            type:"post",
            data:{names:Zh_name},
            success:function(data){
                $('#Zh_msg').html(data.msg);
                if(data.status){
                    $('#Zh_msg').css('color','red');
                    zh_flag = false;
                }else{
                    $('#Zh_msg').css('color','green');
                    zh_flag = true;
                }

                if(zh_flag&&en_flag){
                    $('#save').attr('disabled',false);
                }else{
                    $('#save').attr('disabled',true);
                }
            }
        });
    });
</script>
